* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  box-sizing: border-box;
}
.todo-dashboard {
  max-width: 570px;
  height: 100vh;
  padding: 20px 15px;
  background: #141414;
  font-family: monospace;
}
.todo-dashboard-main {
  margin-top: 5px;
}
img {
  vertical-align: middle;
}
.todo-dashboard-header {
  display: flex;
  padding: 2px 23px;
  align-items: center;
  justify-content: space-between;
}
.todo-settings {
  border: none;
  background: none;
}
.todo-dashboard-title {
  font-family: monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #78acd5;
}
.todo-date {
  padding-top: 15px;
  padding-left: 23px;
}
.todo-date-btn {
  padding: 5px 15px;
  font-family: monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  background: #181818;
  border-radius: 15px;
  color: #ffffff;
}
.todo-active {
  background-color: #0093e9;
}
.todo-running-page {
  margin-top: 25px;
  & > .run-btn {
    border: none;
    margin: 0 auto;
    display: block;
    background: none;
    font-family: monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #78acd5;
  }
  & > .task-title {
    font-family: monospace;
    font-style: normal;
    font-weight: 700;
    padding: 13px 0px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #141414;
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    background-blend-mode: overlay, normal, normal, normal, normal;
    border-radius: 10px;
  }
  & > .task-backlogs {
    font-family: monospace;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.todo-tasks-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  padding: 10px 15px;
  background: #181818;
  border-radius: 10px;
  &-title {
    font-family: monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
  }
  & > .box-container {
    display: flex;
    align-items: center;
    & > .line-color {
      width: 2px;
      height: 30px;
      margin-right: 10px;
      background: #ff2460;
      border-radius: 1px;
    }
  }
  & > .energy-costs {
    display: flex;
    align-items: center;
    gap: 13px;
    justify-content: space-between;
  }
}
.todo-tasks {
  & > .complatedTasks {
    margin-top: 30px;
    font-family: monospace;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
  }
}
.complated-task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  padding: 10px 15px;
  background: #181818;
  border-radius: 10px;
  & > .box-container {
    display: flex;
    align-items: center;
    & > .line-color {
      width: 2px;
      height: 30px;
      margin-right: 10px;
      background: #ff2460;
      border-radius: 1px;
    }
  }
  & > .energy-costs {
    display: flex;
    align-items: center;
    gap: 13px;
    justify-content: space-between;
  }
}
.removing-elements-room {
  margin-top: 15px;
  & > .removing-btn {
    width: 100%;
    background: #181818;
    margin-bottom: 10px;
    border: none;
    padding-left: 15px;
    font-family: monospace;
    padding-right: 15px;
    font-family: monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    display: block;
    color: #fff;
    padding: 15px 0px;
    border-radius: 10px;
  }
  & > .design-btn {
    width: 100%;
    background: #181818;
    border: none;
    font-family: monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    color: #fff;
    padding: 15px 0px;
    border-radius: 10px;
  }
}
.box {
  width: 100%;
  display: flex;
  justify-content: center;
}
.adding-items-page {
  font-family: monospace;
  font-style: normal;
  display: inline-block;
  margin-top: 100px;
  font-weight: 700;
  padding: 15px 40px;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  text-decoration: none;
  line-height: 24px;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}
